.ql-toolbar.ql-snow + .ql-container.ql-snow {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #f0f0f0;
    border: none;
    height: 100px;
}

.ql-toolbar.ql-snow {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: solid #dbdbdb 1px !important;
    background-color: #f0f0f0;
    border: none;
}

.ql-container {
    font-size: 17px !important;
    border: none;
}

.ql-toolbar.ql-snow {
    border: none !important;
    padding-top: 10px;
}


.text-label {
    color: #757575;
    font-weight: 500;
    font-size: 15px;
    position: absolute;
    top: -12px;
    left: 15px;
}


.text-container {
    position: relative;
}